<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dnsfilter.android"
    android:installLocation="auto"

    android:versionCode="1505801"
    android:versionName="1.50.58.1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="DomCustosAgent"
        android:theme="@style/Theme.phttpp.TitleBar"
        android:usesCleartextTraffic="true"
        android:name=".DomCustosAgentApp">

        <!-- Activity Principal (Tela Simples) -->
        <activity
            android:name=".DNSProxyActivity"
            android:label="DomCustos Agent"
            android:windowSoftInputMode="adjustPan"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Intent Filter para receber dados de outras activities -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Activity de Configurações Avançadas -->
        <activity
            android:name=".AdvancedSettingsActivity"
            android:label="Configurações Avançadas"
            android:theme="@style/Theme.phttpp.TitleBar"
            android:windowSoftInputMode="adjustPan"
            android:exported="false"
            android:parentActivityName=".DNSProxyActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DNSProxyActivity" />
        </activity>

        <!-- Activity de Configuração DNS -->
        <activity
            android:name=".dnsserverconfig.DNSServerConfigActivity"
            android:theme="@style/Theme.phttpp.TitleBar.DNSConfig"
            android:exported="false"
            android:parentActivityName=".AdvancedSettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AdvancedSettingsActivity" />
        </activity>

        <service
            android:name=".DNSFilterService"
            android:foregroundServiceType="specialUse"
            android:label="DomCustosAgentService"
            android:permission="android.permission.BIND_VPN_SERVICE"
            android:exported="true">
            <property android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="Filter DNS requests on the device for parental control or security reasons, the notification shows the status of the DNS Filter."/>
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>

        <service
            android:name=".DNSFilterTileService"
            android:label="DomCustosAgent"
            android:icon="@drawable/icon_disabled"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="true" />
            <meta-data
                android:name="android.service.quicksettings.TOGGLEABLE_TILE"
                android:value="true" />
        </service>

        <receiver
            android:name=".BootUpReceiver"
            android:enabled="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service
            android:name=".UpdateService"
            android:exported="false" />

        <receiver
            android:name=".UpdateReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
